<div class="container p4">
    
    <h1 class="display-6">CARRITO DE COMPRAS</h1>
        <section id="productos" class="lead">
            <section id="info_products">
                <div class="container-fluid">

                {{#each favoritos}}
                    <div class="row">
                        <div id="linea" class="col-12 col-lg-6">
                            
                            <main id="main">
                                    
                                <div id="img_margin" align="center"><img src="{{nombre}}/principal.jpg" class="img-fluid" alt="{{nombre}}" ></div>
                                    <!--  <div align="center"><img src="img/piramicama_extra.png"  ></div> 
                                        <div align="center"><img src="img/piramicuna_extra.png"  ></div> 
                                        <div align="center"><img src="img/hercules_extra.png"  ></div> 
                                        <div align="center"><img src="img/hygia_extra.png"  ></div>  -->
                            </main>        
                        </div>

                        <div id="linea" class="col-12 col-lg-6">
                            <dl class="row">
                                <h1 class="display-6">{{nombre}}</h1>
                                
                                <p class="card-text">Modelo: <strong><font color="#DB8E3F">{{modelo}}</font></strong></p>  <!--MODELO-->
                                <p class="card-text">Tamaño: <strong><font color="#DB8E3F">{{tamaño}}</font></strong></p>  <!--TAMAÑO PERO EN BASE DICE MEDIDAS-->
                                <br>
                                <p>PRECIO:  <strong><font color="red">${{precio_neto}}</font></strong> </p>

                                <button type="button" class="btn btn-danger btn-lg btn-block">ELIMINAR</button>
                            </dl>
                        </div>
                    </div>
                {{/each}}

                </div>
            </section>  
        </section> 
</div>



