<div class="container p4">
   <section id="productos" class="lead">

                                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-pause="false">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                        <img src="img/1.png" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                        <img src="img/2.png" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                        <img src="img/3.png" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
   </section> 
</div>

 <div class="container p-4">
             
                        
<h1 class="display-6" align="center">¡OFERTAS!</h1>
<br>
    <div class="row">
        {{#each ofertas}}
            <div class="col">
                <div class="card">
                    <img src="{{nombre}}/principal.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}}</h5> <!--NOMBRE-->
                        <br>
                        <p class="card-text">Modelo: <strong><font color="#DB8E3F">{{modelo}}</font></strong></p>  <!--MODELO-->
                        <p class="card-text">Tamaño: <strong><font color="#DB8E3F">{{tamaño}}</font></strong></p>  <!--TAMAÑO PERO EN BASE DICE MEDIDAS-->
                        <br>
                        <p class="card-text">PRECIO ORIGINAL: <strong><font color="#DB8E3F">${{precio_neto}}</font></strong></p>
                        <p class="card-text"><h3>OFERTA: <strong><font color="#DB8E3F">${{oferta_precio}}</font></strong></h3></p> <!--PRECIO-->
                        <a href="favoritos/{{productos_id}}" class="btn btn-warning">Favoritos</a>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</div>
