
<div class="container p-4">

    <div class="row">
            {{#each productos}}
            <div class="col-md-3">
                <div class="card">
                    <!-- <img src="LUXOR KA/principal.jpg"  class="card-img-top" alt="..."> -->
                    <img src="{{nombre}}/principal.jpg"  class="card-img-top" alt="{{nombre}}">
                    <div class="card-body">
                        <a href="/detalles_productos/{{productos_id}}"><h5 class="card-title">{{nombre}}</h5></a> <!--NOMBRE-->
                        <br>
                        <p class="card-text">Modelo: <strong><font color="#DB8E3F">{{modelo}}</font></strong></p>  <!--MODELO-->
                        <p class="card-text">Tamaño: <strong><font color="#DB8E3F">{{tamaño}}</font></strong></p>  <!--TAMAÑO PERO EN BASE DICE MEDIDAS-->
                        <br>
                        <p class="card-text">DESDE <strong><font color="#DB8E3F">${{precio_neto}}</font></strong></p> <!--PRECIO-->
                        <form action="/favoritos/{{productos_id}}" method="POST">
                            <input type="submit" value="Favoritos" class="btn btn-warning">
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}

    </div>
</div>
