<div class="container p4">

    <section id="productos" class="lead">
        <section id="info_products">
            <div class="container-fluid">
                <div class="row">
                  {{#each producto}}
                    <div class="col-12 col-lg-6">
                        <main id="main">
                                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-pause="false">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                        <img src="/{{nombre}}/1.jpg" class="d-block w-100" alt="{{nombre}}">
                                        </div>
                                        <div class="carousel-item">
                                        <img src="/{{nombre}}/2.jpg" class="d-block w-100" alt="{{nombre}}">
                                        </div>
                                        <div class="carousel-item">
                                        <img src="/{{nombre}}/1.jpg" class="d-block w-100" alt="{{nombre}}">
                                        </div>
                                    </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                
                                <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                                </div>
                        </main>
                    </div>
                    
                    <div class="col-12 col-lg-6">
                        <dl class="row">
                            <h1 class="display-6">{{nombre}}</h1>
                                <p>DESDE:  <strong><font color="red">${{precio_neto}}</font></strong> </p>

                                <dt class="col-12">MODELO:</dt>
                                <dd class="col-12">{{modelo}}</dd>

                                <dt class="col-12">DESCRIPCION: </dt>
                                <dd class="col-12">{{descripcion}}</dd>

                                <dt class="col-12">TAMAÑO</dt>
                                <dd class="col-12">{{tamaño}}</dd>

                                <dt class="col-12">MATERIAL DEL COLCHON: </dt>
                                <dd class="col-12">{{material_colchon}}</dd>

                                <dt class="col-12">ESTRUCTURA PIRAMIDAL </dt>
                                <dd class="col-12">{{estructura_piramidal}}</dd>

                                <dt class="col-12">BASE: </dt>
                                <dd class="col-12" >{{base}}</dd>

                                <dt class="col-12">COLORES: </dt>
                                <dd class="col-12">{{colores}}</dd>

                                <dt class="col-12">BENEFICIOS </dt>
                                <dd class="col-12">{{beneficios}}</dd>
                        </dl>
                    </div>
                    {{/each}} 
                </div>
            </div>
        </section>  
    </section> 

</div>
	
             												
